body {
    background-color: #1e2a38;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}

.investigation-card {
    padding: 26px !important;
    background: #f0f0f0;
    border-radius: 12px;
    margin: auto;
    width: 80%;
}

.notification-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}

.notification {
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.radio {
    background-color: red;
}

.success {
    background-color: #2ecc71;
}

.error {
    background-color: #e74c3c;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-10 {
    margin-top: 10px;
}

.dashboard {
    background-color: #1e2a38;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.agent-not-selected {
    margin-top: 10px;
    background: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9em;
}

.agent-selected {
    margin-top: 10px;
    background: goldenrod;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9em;
}

.agent-selected,
.agent-not-selected {
    width: 80%;
}

.equipment-bag {
    display: flex;
    margin-top: 20px;
}

.equipment {
    width: 30px;
    margin: auto;
}

.w-30 {
    width: 30px;
}

.d-flex {
    display: flex;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 3 colonnes */
    gap: 10px;
    /* espace entre les divs */
}

.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colonnes */
    gap: 10px;
    /* espace entre les divs */
}

.grid-container-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 3 colonnes */
    gap: 10px;
    /* espace entre les divs */
}

.grid-item {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-car {
    background: url('./assets/police-car-patroling.svg') no-repeat left top;
    height: 34px;
    padding-top: 7px;
    padding-left: 48px;
    padding-right: 5px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-black {
    color: black;
}

h1,
h2 {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.agent-card,
.interventions-card,
.traffic-card {
    background: #2e3b4e;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.agent-card h3 {
    margin: 0 0 5px;
}

h3 {
    font-size: large;
}

.agent-card.busy {
    opacity: 0.8;
}

.status {
    color: #ff9800;
    font-weight: bold;
}

.rank {
    color: gold;
}

button {
    margin-top: 15px;
    padding: 6px 12px;
    background: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

/* button:hover {
    background: #0097a7;
} */

.button-green {
    background-color: green;
}

.button-green:hover {
    background-color: darkgreen;
}

.button-red {
    background-color: red;
}

.button-red:hover {
    background-color: darkred;
}

nav {
    padding: 30px 0;
}

nav a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a.router-link-exact-active {
    color: #42b983;
}